{% comment %} 
    <style> 
    .image-with-focal-point { 
    object-position: calc(var(--object-position-x, window.imageFocalPoint.x) * 100%) 
    calc(var(--object-position-y, window.imageFocalPoint.y) * 100%); 
    } 
    </style> 
    <img 
    class="image-with-focal-point" 
    src="{{ section.settings.focalImage | image_url }}" 
    width="{{ section.settings.image_width }}" 
    height="{{ section.settings.image_height }}" 
    alt="{{ section.settings.image.alt }}" 
    loading="lazy" 
    style="--object-position-x: 0.75; --object-position-y: 0.25;"
    >
   
    <script> 
    'window.imageFocalPoint = { 
    x: {{ section.settings.image_focal_point | split: ',' | first | default: 0.5 }}, 
    y: {{ section.settings.image_focal_point | split: ',' | last | default: 0.5 }} 
    };
    </script> 
{% endcomment %}
{{ 'my-focal-image.css' | asset_url | stylesheet_tag }}

<div class="page-width focal-image-wrapper">
  <img
    src="{{ section.settings.focalImage | image_url }}"
    width="{{ section.settings.image_width }}"
    height="{{ section.settings.image_height }}"
    alt="{{ section.settings.focalImage.alt }}"
    loading="lazy">

  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'focal_point_with_product' %}
        {% assign horizontal = block.settings.horizontal %}
        {% assign vertical = block.settings.vertical %}
        <div class="focal-point-block" style="top: {{ vertical }}%; left:{{ horizontal }}%;">
          <div class="focal-point">
            {% render 'my-focal-icon' %}
          </div>
          {% if block.settings.product != blank %}
            <div class="product-block hide {% if horizontal > 50 %}left_hoja{% endif %}">
              {% comment %} <div class="modal-container" onclick="toggleModal()"></div> {% endcomment %}
              <div class="modal-window">
                <div class="card-container">
                  <h2>{{ block.settings.product.title }}</h2>
                  <h3 style="display: inline;">
                    {{ block.settings.product.price | money }}
                    {% if block.settings.product.selected_or_first_available_variant.compare_at_price %}
                      {% render 'my-sale' %}
                    {% endif %}
                  </h3>
                  <p>
                    <div class="icon_container">
                      <img
                        src="{{  block.settings.product.featured_media | image_url }}"
                        width="150px"
                        height="auto"
                        alt="{{  block.settings.image.alt | default:  block.settings.product.title }}"
                        loading="lazy">
                    </div>
                    <a href="{{  block.settings.product.url }}">
                      <button class="button">View Product</button>
                    </a>
                  </p>
                </div>
              </div>
            </div>
          {% endif %}
        </div>
    {% endcase %}
  {% endfor %}
</div>
{% comment %} <script src="{{ 'my-focal-point.js' | asset_url }}" defer="defer"></script> {% endcomment %}

{% schema %}
  {
    "name": "Image with Focal Point",
    "settings": [
      {
        "type": "image_picker",
        "id": "focalImage",
        "label": "Image"
      },
      {
        "type": "range",
        "id": "image_width",
        "min": 100,
        "max": 1000,
        "step": 50,
        "unit": "px",
        "label": "Image Width",
        "default": 500
      },
      {
        "type": "range",
        "id": "image_height",
        "min": 100,
        "max": 1000,
        "step": 50,
        "unit": "px",
        "label": "Image Height",
        "default": 500
      }
    ],
    "blocks": [
      {
        "type": "focal_point_with_product",
        "name": "Focal Point with Product",
        "settings": [
          {
            "type": "range",
            "id": "vertical",
            "min": 1,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Vertical Alignment",
            "default": 50
          },
          {
            "type": "range",
            "id": "horizontal",
            "min": 1,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Horizontal Alignment",
            "default": 50
          },
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Image with Focal Point"
      }
    ]
  }
{% endschema %}